.video-js button.vjs-custom-bt {
    margin-top: 1px;
    width: 2.5em;
    margin-left: 4px;
    font-size: 20px;
}

#vjs-resolution-menu {
    width: fit-content;
}

.vjs-resolution-button {
    position: relative;
    top: -30px !important
}

.vjs-resolution-button-label {
    display: block;
    font-size: 16pt !important;
    margin-left: 0.43em;
    margin-top: 0.5em;
}