.video-js button.vjs-custom-bt:nth-last-child(2) {
    margin-left: 5px;
}

.video-js button.vjs-custom-bt:last-child {
    margin-right: 5px;
}

.video-js button.vjs-custom-bt {
    width: 2.5em;
    margin-left: 3px;
    font-size: 21px;
}

#vjs-resolution-menu {
    margin-right: 6px;
    top: 10.5px;
    width: auto;
}

#vjs-resolution-menu .vjs-menu {
    left: 0;
    width: 100%;
    justify-content: center;
}

#vjs-resolution-menu.vjs-hover .vjs-menu {
    display: flex;
}

#vjs-resolution-menu .vjs-menu .vjs-menu-content {
    left: initial;
    padding-bottom: 1.2em;
}

#vjs-resolution-menu .vjs-resolution-button {
    position: relative;
    top: -30px
}

#vjs-resolution-menu .vjs-resolution-button-label {
    font-size: 21px;
}