#vjs-re {
    width: fit-content;
}

.vjs-resolution-button {
    position: relative;
    top: -30px !important
}

.vjs-resolution-button-label {
    width: fit-content;
    font-size: 16pt !important;
    margin-left: 0.43em;
    margin-top: 0.5em;
}