.vjs-custom-bar {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.vjs-custom-bar-item {
  padding: 10px;
  background: rgba(43, 51, 63, 0.7);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.record-process {
  margin-left: 2px;
  height: 28px;
  width: 28px;
  background: red;
  border-radius: 28px;
  animation: twinkling 1s linear infinite;
  margin-right: 10px;
}

.custombar-img {
  width: 30px;
  margin-right: 10px;
}

.snapshot-text {
  font-size: 26px !important;
}

@keyframes twinkling {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}