.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.videosize {
  margin: 0 2vw;
  flex: 1;
  height: 80vh;
}

.invert {
  margin: 0 2vw;
  flex: 1;
  max-width: 46.3vw;
}

.vjs-pixelate-bt,.vjs-invert-bt {
  cursor: pointer;
  font-size: 14pt !important;
}


.slide-fade-enter-from {
  transform: translateX(5vw);
  opacity: 1;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.1s ease-out;
}

.slide-fade-leave-to {
  transform: translateX(5vw);
  opacity: 0;
}