.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container2 {
  margin: 2vh 0;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 30vw;
}

.videosize {
  margin: 0 2vw;
  flex: 1;
  height: 80vh;
}

.invert {
  margin: 0 2vw;
  flex: 1;
  max-width: 46.3vw;
}
.vjs-invert-bt {
  cursor: pointer;
  font-size: 17pt !important;
  margin-right: 0.5em !important;
}

.vjs-pixelate-bt {
  cursor: pointer;
  font-size: 17pt !important;
  margin-right: 1em !important;
}


.slide-fade-enter-from {
  transform: translateX(5vw);
  opacity: 1;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.1s ease-out;
}

.slide-fade-leave-to {
  transform: translateX(5vw);
  opacity: 0;
}


.vertical-slide-enter-from {
  transform: translateY(10vh);
  opacity: 1;
}

.vertical-slide-enter-active {
  transition: all 0.5s ease-out;
}

.vertical-slide-leave-active {
  transition: all 2s ease-out;
}

.vertical-slide-leave-to {
  transform: translateY(50vh);
  opacity: 0;
}